body{
    font-family: Arial, Helvetica, sans-serif;
}

.grid-holder{
    
}

.container{
    background-color: #bbbbbb ; 
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
  
}

.carousel{
    
}

.recommended-cards{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    
}

.alternate-cards{
    
}

*{
    margin: 0;
    padding: 0;
}

#sidebar{
    position: absolute;
    width: 300px;
    height: 100%;
    background: #000;
    z-index: 1;
    left: -300px;
    transition: .4s;
   
}

#sidebar.active{
    left: 0;
}

#sidebar ul li{
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 20px 24px;
    display: flex;
    align-items: center;
}
.search-expand{
    width: 15px;
    height: 0px;
    color: #fffeee;
    margin: 10px;
    margin-top: 20px;
    background-color: 000;
    border: none;
    box-shadow: none;
}

.search-expand i{
    margin-top: 15px;

}

.search-container-small{
    display: flex;
    align-items: center;
}
.search-small{
    width: 10em;
    height: 28px;
    margin: 10px;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    margin-left: 0;
    padding: 5px;
}

.search-button{
    width: 26px;
    height: 26px;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    background-color:#FFC300 ;
}


header {
	height: 50px;
	background-color: #111111;
	border-bottom: 1px solid #494949;
	display: flex;
	align-items: center;
    justify-content: center;
}


header > .top {
	position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-left: 0%;
    background-color: #FFDC00;
}
header > .top a.menu_icon i {
	color: #000;
	font-size: 40px;
	padding: 5px;
    transition: .2s ease;
  
}


header > .header-title{
    display: inline-block;
    position: absolute;
    height: 50px;
    margin-left: 45%;
}

 .header-text{
    color: #fff;
    padding: 5px;
    font-size: 30px;
}
header > .user-status{
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 150px;
    right: 0;
  
}

#status-txt{
    color: #fff;
    padding: 15px;
    font-size: 15px;
}


.login-modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.login-content{
    width: 300px;
    height: 200px;
    background-color: #fff;
    z-index: 2;
    border-radius: 4px;
    border: solid black 1px;
    position: relative;
}

.log-input{
    width: 50%;
    display: block;
    margin: 15px auto;
}

.login-btn{
    width: 30%;
    background-color: #FFC300;
    border-radius: 3px;
    display: block;
    margin: 15px auto;
    outline: none;
    text-align: center;
    cursor: pointer;
}

.signup-link{
    margin: 15px auto;
}


.close{
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}




.logout-modal{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.logout-content{
    width: 300px;
    height: 200px;
    background-color: #fff;
    z-index: 2;
    border-radius: 4px;
    border: solid black 1px;
    text-align: center;
    position: relative;
}


.logout-text{
    margin: 40px 15px;
    font-size: 20px;
    display: block;

}

.logout-btn{
    margin: 15px auto;
    display: block;
    width: 20%;
    background-color: #FFDC00;
    border-radius: 5px;
}
/* Article styling */
.tile{
    margin: 10px;
    width: 250px;
    height: 150px;
    background-color: #fff;
    padding:0;
    cursor: pointer;  
}

.tile-image-holder{
    width: 250px;
    height: 100px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    cursor: pointer; 
}

.tile-title-holder{
    width: 250px;
    height: 50px;
    background-color: #222222;
    cursor: pointer; 
}

.tile-title{
    color:  #eeeeee;
    padding: 3px;
    font-size: 15px;
    cursor: pointer; 
}

/* Article page */

.image-container{
    width: 700px;
    height: 200px;
   
    margin: 0 auto;
    overflow: hidden;
}

.title-div{
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    background-color: #111111;
}

.title-div h1{
    width: 650px;
    color: #fffeee;
}

.author-div{
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    background-color: #111111;
}

.author-div h3{
    width: 650px;
    color: #fffeee;

}


.info-div{
    width: 700px;
    
    margin: 0 auto;
    padding: 10px;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-div h4{
    width: 200px;
    color: #fffeee;
}

.info-div h6{
    width: 30px;
    color: #fffeee;
}
.content-div{
    width: 700px;
    border: solid 1px black;
    margin: 0 auto;
    padding: 5px;
}

.info-div button{
    width: 80px;
    height: 35px;
    display: inline-block;
    background-color:#2c69c9 ;
    color: #fffeee;
    border-radius: 2px;
    border: none;
    box-shadow: none;

}

.info-div h5{
    width: 80px;
    display: inline-block;
    color: #fffeee;
}


.likes-div{
    display: inline; 
}

.dislikes-div{
    display: inline;
}

/* Publish Page */

.publish-div{
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    width: 700px;
    height: 100vh;
    background-color: #111111;
    
}

.publish-input{
    display: block;
    margin: 25px auto;
    width: 250px;
    border-radius: 3px;
    border: none;
    box-shadow: none;
    height: 30px;
}



#content-Input{
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 375px;
    border-radius: 5px;
    resize: none;  
}

#img-Input{
    display: block;
    margin: 20px auto;
    width: 250px;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    color: #fffeee;
}

#pub-btn{
    display: block;
    margin: 20px auto;
    width: 75px;
    height: 40px;
    background-color: #FFC300 ;
    border-radius: 2px;
    border: none;
    box-shadow: none;
}

/* Search page styling */

.search-utilities{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;;
    background-color: #111111;
    width: 60vw;
}

.search-bar{
    width: 70%;
    margin: 10px;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    padding: 5px;

}

.search-button-L{
    width: 29px;
    height: 29px;
    border-radius: 2px;
    border: none;
    box-shadow: none;
    background-color:#FFC300 ;
}

.results-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: solid black 1px;
    width: 60vw;
    height: 90vh;
    background-color: cornflowerblue;
}

.tile-l{
    width: 400px;
    height: 200px;
    background-color: darkgray;
    margin: 40px;
}

.tile-l-img{
    width: 400px;
    height: 140px;
    padding: 0;
    margin: 0;
    background-color: darkgreen;
}

.tile-l-title{
    width: 400px;
    height: 60px;
    padding: 0;
    margin: 0;
    background-color: black;
}